# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Environment Variables
.env
.env.local
.env.*.local

# Storage & API Keys & Temporary Render Artifacts
tools/
storage/settings.json
storage/client_secrets.json
storage/projects/

# Editor & OS files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
